 @model Cinema.Views.Cinema.IndexModel
@{
    ViewBag.Title = "Test";
}

<h1>Prenotazione biglietti</h1> 
<hr />

<form asp-action="Book" method="post">
    <div>
        <label>Nome:</label><br/>
       <input type="text" name="name" required /> 
    </div>
    <div>
        <label>Cognome:</label><br/>
         <input type="text" name="lastName" required /> 
    </div>
    <div>
        <label>Sala:</label><br/>
         <select name="room" required>
             <option>NORD</option>
            <option>EST</option>
            <option>SUD</option>
        </select>
    </div>
    <div>
        <label>Tipo Biglietto:</label><br/>
         <select name="type" required>
            <option>Ridotto</option>
            <option>Pieno</option>
        </select>
    </div>
<br/>
    <button type="submit">Registra</button>
</form>

     <table border="1" cellpadding="5" style="border-collapse: collapse; margin-top: 30px">
            <tr style="background-color: aquamarine">
                <th>Sala</th>
                <th>Totali venduti</th>
                <th>Ridotti</th>
                <th>Rimanenti</th>
            </tr>

    @foreach (var r in Cinema.Models.DataCinema.RoomCapacity.Keys)
    {
        int total = Cinema.Models.DataCinema.GetTotalForRoom(r);     
        int reduced = Cinema.Models.DataCinema.GetReduced(r);
        int remaining = Cinema.Models.DataCinema.RoomCapacity[r] - total;

        <tr>
            <td>@r</td>
            <td>@total</td>
            <td>@reduced</td>
            <td>@remaining</td>
        </tr>
    }      
    </table>

       
        